
@charset "UTF-8";

/* twitter boostrap 4 */

@import "../../node_modules/bootstrap/scss/bootstrap";

/* material design icons */

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(/static/fonts/vendor/material-design-icons/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(/static/fonts/vendor/material-design-icons/MaterialIcons-Regular.woff2) format('woff2'), url(/static/fonts/vendor/material-design-icons/MaterialIcons-Regular.woff) format('woff'), url(/static/fonts/vendor/material-design-icons/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

.material-icons.orange600 {
    color: #FB8C00;
}

/* Rules for sizing the icon. */
.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}

/* m-progress button loading animation */

@-webkit-keyframes ld {
    0% {
        transform: rotate(0deg) scale(1);
    }

    50% {
        transform: rotate(180deg) scale(1.1);
    }

    100% {
        transform: rotate(360deg) scale(1);
    }
}

@-moz-keyframes ld {
    0% {
        transform: rotate(0deg) scale(1);
    }

    50% {
        transform: rotate(180deg) scale(1.1);
    }

    100% {
        transform: rotate(360deg) scale(1);
    }
}

@-o-keyframes ld {
    0% {
        transform: rotate(0deg) scale(1);
    }

    50% {
        transform: rotate(180deg) scale(1.1);
    }

    100% {
        transform: rotate(360deg) scale(1);
    }
}

@keyframes ld {
    0% {
        transform: rotate(0deg) scale(1);
    }

    50% {
        transform: rotate(180deg) scale(1.1);
    }

    100% {
        transform: rotate(360deg) scale(1);
    }
}

.m-progress {
    position: relative;
    opacity: .8;
    color: transparent !important;
    text-shadow: none !important;
}

.m-progress:hover,
.m-progress:active,
.m-progress:focus {
    cursor: default;
    color: transparent;
    outline: none !important;
    box-shadow: none;
}

.m-progress:before {
    content: '';
    display: inline-block;
    position: absolute;
    background: transparent;
    border: 1px solid #fff;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50%;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -12px;
    width: 24px;
    height: 24px;
    -webkit-animation: ld 1s ease-in-out infinite;
    -moz-animation: ld 1s ease-in-out infinite;
    -o-animation: ld 1s ease-in-out infinite;
    animation: ld 1s ease-in-out infinite;
}

.btn-default.m-progress:before {
    border-left-color: #333333;
    border-right-color: #333333;
}

.btn-lg.m-progress:before {
    margin-top: -16px;
    margin-left: -16px;
    width: 32px;
    height: 32px;
}

.btn-sm.m-progress:before {
    margin-top: -9px;
    margin-left: -9px;
    width: 18px;
    height: 18px;
}

.btn-xs.m-progress:before {
    margin-top: -7px;
    margin-left: -7px;
    width: 14px;
    height: 14px;
}

/* custom */

body {
    position: absolute;
    height: 100%;
    width: 100%;

    &.playerScreen {
        overflow: hidden;
    }

    &.gamemasterScreen {
        
    }

}



.screen {
    height: 100%;
    width: 100%;
}

.formErrors {
    color: red;
}

.startScreenCenteredContainer {
    // http://stackoverflow.com/a/23384995/656689
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.appLogo {
    display: block;
    margin: 0 auto;
}

.waitingMessage {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 3.5rem;
    // rainbow font firefox > 49 and webkit only
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #ff5c7f), color-stop(0.33, #00c5f1), color-stop(0.66, #09d191), color-stop(1, #f7c21f) );
    background-image: gradient( linear, left top, right top, color-stop(0, #ff5c7f), color-stop(0.33, #00c5f1), color-stop(0.66, #09d191), color-stop(1, #f7c21f) );
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.playersRow {
    height: 100%;
}

.playerColumn {
    height: 100%;
    // overwrite twbs
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.playerColumnRed {
    background-color: #ffa3b6;
    @include gradient-y(#ffa3b6, #ff4a4b);

    .playerTopContainer {
        background-color: #ff5c7f;
    }
}

.playerColumnBlue {
    background-color: #54e0fb;
    @include gradient-y(#54e0fb, #2189de);

    .playerTopContainer {
        background-color: #00c5f1;
    }
}

.playerColumnGreen {
    background-color: #35edc1;
    @include gradient-y(#35edc1, #01a86b);

    .playerTopContainer {
        background-color: #09d191;
    }
}

.playerColumnYellow {
    background-color: #fdd676;
    @include gradient-y(#fdd676, #f2a127);

    .playerTopContainer {
        background-color: #f7c21f;
    }
}

.playerColumnClickZone {
    height: 100%;
    z-index: 110;
    width: 100%;
    position: absolute;
}

.playerTopContainer {
    width: 100%;
    @include border-bottom-radius(40px);
    min-height: 110px;
    color: white;
    text-align: center;

    &.active {
        border: 5px solid white;
    }

    .playerName {
        font-weight: 800;
    }

    .playerScore {
        font-weight: 600;
        font-size: 1.5rem;
    }
}

.hidden {
    display: none;
}

.messageContainer {
    z-index: 100;
    background-color: rgba(255,255,255,0.3);
    padding: 20px;
    @include border-radius(60px);
    // http://stackoverflow.com/a/23384995/656689
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.innerMessage {
    font-size: 2.5rem;
    font-weight: 800;
    color: black; // will be overwritten by js
    background-color: white;
    @include border-radius(40px);
    padding: 20px;
}

.scoreContainer {
    width: 100%;
    height: 100%;
    text-align: center;
}

.podium {
    width: 80%;
    height: 80%;
    margin: 0 auto;
}

.podiumColumn {
    vertical-align: bottom;
    height: 100%;
}

.playerPodiumColumn {
    height: 100%; // will be overwritten by js
    .podiumPlayerName {
        text-align: center;
        font-weight: 800;
        color: white;
        font-size: 2.5rem;
    }

    .podiumPlayerScore {
        text-align: center;
        font-weight: 600;
        color: white;
        font-size: 1.5rem;
    }
}

.gameOver {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 3.5rem;
    // rainbow font firefox > 49 and webkit only
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #ff5c7f), color-stop(0.33, #00c5f1), color-stop(0.66, #09d191), color-stop(1, #f7c21f) );
    background-image: gradient( linear, left top, right top, color-stop(0, #ff5c7f), color-stop(0.33, #00c5f1), color-stop(0.66, #09d191), color-stop(1, #f7c21f) );
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.visualizerCanvasContainer {
    @include gradient-y-three-colors(rgba(255,255,255,0), rgba(255,255,255,1), 50%, rgba(255,255,255,0));
    position: absolute;
    padding: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 90;
}

.visualizerCanvas {
}

.playlistInformation {

    .playlistCover {
        display: inline-block;
        margin-right: 20px;
    }

    .playlistName {
        display: inline-block;
        margin-right: 20px;
    }

    .songNumber {
        display: inline-block;
    }

    .songTotal {
        display: inline-block;
    }

    .songPosition {
        display: inline-block;
        margin-right: 20px;
    }

    .numbersDivider {
        display: inline-block;
        padding-right: 5px;
        padding-left: 5px;
    }
}

.playerBottomContainer {
    width: 100%;
    position: absolute;
    bottom: 20px;
}

.correctIcon {
    background: url(/static/images/icon-correct.png) no-repeat center white;
    width: 100px;
    height: 100px;
    @include border-radius(50px);
    margin: 0 auto;
}

.wrongIcon {
    background: url(/static/images/icon-wrong.png) no-repeat center white;
    width: 90px;
    height: 90px;
    @include border-radius(45px);
    margin: 0 auto;
}

.countdown {
    position: absolute;
    bottom: 0;
    z-index: 100;
    color: white;
    font-size: 10rem;
}

.mastercountdown {
    color: red;
}

.playingCountdown {
    left: 0;
}

.answerCountdown {
    right: 0;
}

.playingCountdownContainer {
    //position: absolute;
    //bottom: 0;
    //z-index: 100;
    //color: white;
    //font-size: 10rem;
    //left: 0;
}

.answerCountdownContainer {
    //position: absolute;
    //bottom: 0;
    //z-index: 100;
    //color: white;
    //font-size: 10rem;
    //right: 0;
}

.anim-parent {
    width: 250px;
    height: 250px;
    position: relative;
    background-color: black;
    top: 400px;
    left: 400px;
    border-radius: 50%;

    .center {
        position: absolute;
        background-color: white;
        width: 50%;
        height: 50%;
        left: 25%;
        top: 25%;
        border-radius: 50%;
    }

    .gradient {
    }

    .mask {
    }
}

.playingCountdownContainer, .answerCountdownContainer {
/*#container {*/
    position: relative;
    //margin: 20px;
    width: 200px;
    height: 200px;
    left: 50%;
    top: -240px;
    margin-left: -100px;

    z-index: 200;

    /*position: absolute;
    bottom: 0;
    z-index: 100;
    color: white;
    font-size: 10rem;*/
    //left: 0;

    /*margin: 20px;
    width: 200px;
    height: 200px;*/

    .center {
        position: absolute;
        width: 80%;
        height: 80%;
        background-color: #fff;
        top: 10%;
        left: 10%;
        border-radius: 50%;
        box-shadow: 0px 0px 48px -9px #23201E;
    }

    .center:before {
        content: '';
        position: absolute;
        width: 260px;
        height: 260px;
        top: -50px;
        left: -50px;
        background-color: #fff;
        opacity: 0.15;
        border-radius: 50%;
    }

    p {
        margin: 0px;
    }

    .progressbar-text {
        text-align: center !important;
    }

    svg {
        overflow: visible !important;
        //background: linear-gradient(to left, #077ef9, #51dcf9);
        path {
            //transition: 0.5s;
            //stroke: linear-gradient(to left, #077ef9, #51dcf9) !important;
            //background: linear-gradient(to left, #077ef9, #51dcf9) !important;
        }
    }

    &:before {
        content: '';
        position: absolute;
        width: 96%;
        height: 96%;
        top: 2%;
        left: 2%;
        background-color: #fff;
        opacity: 0.3;
        border-radius: 50%;
    }

    &:after {
        content: '';
        position: absolute;
        width: 110%;
        height: 110%;
        top: -5%;
        left: -5%;
        background-color: #fff;
        opacity: 0.15;
        border-radius: 50%;
    }
}

.all {
}

#second-load {
    position: relative;
    width: 100%;
    height: 100%;
}

#line1 {
    animation: animate1 4s linear infinite;
    clip: rect(0, 80px, 80px, 40px);
    height: 220px;
    width: 220px;
    position: absolute;
    left: calc(50% - 110px);
    top: calc(50% - 110px);
}

#line2 {
    animation: animate2 4s linear infinite;
    clip: rect(0, 80px, 80px, 40px);
    height: 220px;
    width: 220px;
    position: absolute;
    left: calc(50% - 110px);
    top: calc(50% - 110px);
}

#line3 {
    animation: animate3 5s linear infinite;
    clip: rect(0, 80px, 80px, 40px);
    height: 190px;
    width: 190px;
    position: absolute;
    left: calc(50% - 95px);
    top: calc(50% - 95px);
}

@keyframes animate1 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate2 {
    0% {
        transform: rotate(-180deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

@keyframes animate3 {
    0% {
        transform: rotate(-90deg);
    }

    100% {
        transform: rotate(270deg);
    }
}

#line1:after {
    animation: animate_1 4s ease-in-out infinite;
    //clip: rect(0, 200px, 200px, 100px);
    content: '';
    border-radius: 50%;
    height: 220px;
    width: 220px;
    position: absolute;
}

#line2:after {
    animation: animate_1 4s ease-in-out infinite;
    //clip: rect(0, 200px, 200px, 100px);
    content: '';
    border-radius: 50%;
    height: 220px;
    width: 220px;
    position: absolute;
}

#line3:after {
    animation: animate_1 4s ease-in-out infinite;
    //clip: rect(0, 200px, 200px, 100px);
    content: '';
    border-radius: 50%;
    height: 190px;
    width: 190px;
    position: absolute;
}

@keyframes animate_1 {
    0% {
        box-shadow: inset #fff 0 0 0 2px;
        transform: rotate(-180deg);
    }
    //50% {
    //  box-shadow: inset #fff 0 0 0 2px;
    //  transform: rotate(-100deg);
    //}
    100% {
        box-shadow: inset #fff 0 0 0 2px;
        transform: rotate(180deg);
    }
}

@keyframes animate_2 {
    0% {
        box-shadow: inset #fff 0 0 0 2px;
        transform: rotate(-140deg);
    }
    //50% {
    //  box-shadow: inset #fff 0 0 0 2px;
    //  transform: rotate(-100deg);
    //}
    100% {
        box-shadow: inset #fff 0 0 0 2px;
        transform: rotate(140deg);
    }
}

@keyframes animate_3 {
    0% {
        box-shadow: inset #fff 0 0 0 2px;
        transform: rotate(-140deg);
    }
    //50% {
    //  box-shadow: inset #fff 0 0 0 2px;
    //  transform: rotate(-100deg);
    //}
    100% {
        box-shadow: inset #fff 0 0 0 2px;
        transform: rotate(140deg);
    }
}
