
/* twitter boostrap 4 */

@import "../../node_modules/bootstrap/scss/bootstrap";

/* material design icons */

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/static/fonts/vendor/material-design-icons/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(/static/fonts/vendor/material-design-icons/MaterialIcons-Regular.woff2) format('woff2'),
       url(/static/fonts/vendor/material-design-icons/MaterialIcons-Regular.woff) format('woff'),
       url(/static/fonts/vendor/material-design-icons/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons.orange600 { color: #FB8C00; }

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/* m-progress button loading animation */

@-webkit-keyframes ld {
  0%   { transform: rotate(0deg) scale(1); }
  50%  { transform: rotate(180deg) scale(1.1); }
  100% { transform: rotate(360deg) scale(1); }
}
@-moz-keyframes ld {
  0%   { transform: rotate(0deg) scale(1); }
  50%  { transform: rotate(180deg) scale(1.1); }
  100% { transform: rotate(360deg) scale(1); }
}
@-o-keyframes ld {
  0%   { transform: rotate(0deg) scale(1); }
  50%  { transform: rotate(180deg) scale(1.1); }
  100% { transform: rotate(360deg) scale(1); }
}
@keyframes ld {
  0%   { transform: rotate(0deg) scale(1); }
  50%  { transform: rotate(180deg) scale(1.1); }
  100% { transform: rotate(360deg) scale(1); }
}

.m-progress {
    position: relative;
    opacity: .8;
    color: transparent !important;
    text-shadow: none !important;
}

.m-progress:hover,
.m-progress:active,
.m-progress:focus {
    cursor: default;
    color: transparent;
    outline: none !important;
    box-shadow: none;
}

.m-progress:before {
    content: '';
    
    display: inline-block;
    
    position: absolute;
    background: transparent;
    border: 1px solid #fff;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50%;
    
    box-sizing: border-box;
    
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -12px;
    
    width: 24px;
    height: 24px;
    
    -webkit-animation: ld 1s ease-in-out infinite;
    -moz-animation:    ld 1s ease-in-out infinite;
    -o-animation:      ld 1s ease-in-out infinite;
    animation:         ld 1s ease-in-out infinite;
}

.btn-default.m-progress:before {
    border-left-color: #333333;
    border-right-color: #333333;
}

.btn-lg.m-progress:before {
    margin-top: -16px;
    margin-left: -16px;
    
    width: 32px;
    height: 32px;
}

.btn-sm.m-progress:before {
    margin-top: -9px;
    margin-left: -9px;
    
    width: 18px;
    height: 18px;
}

.btn-xs.m-progress:before {
    margin-top: -7px;
    margin-left: -7px;
    
    width: 14px;
    height: 14px;
}

/* custom */

body {
    position: absolute;
    height: 100%;
    width: 100%;
}

.screen {
    height: 100%;
    width: 100%;
}

.playersRow {
    height: 100%;
}

.playerColumn {
    height: 100%;
}

.playerColumnRed {
    background-color: #ffa3b6;
    @include gradient-y(#ffa3b6, #ff4b4b);
}

.playerColumnBlue {
    background-color: #54e0fb;
    @include gradient-y(#54e0fb, #2289df);
}

.playerColumnGreen {
    background-color: #00a86b;
    @include gradient-y(#00a86b, #36edc1);
}

.playerColumnYellow {
    background-color: #f2a126;
    @include gradient-y(#f2a126, #fdd677);
}

.hidden {
    display: none;
}

.countdown {
    position: absolute;
    bottom: 0;
    z-index: 100;
    color: white;
    font-size: 10rem;
}

.mastercountdown {
    color: red;
}

.playingCountdown {
    left: 0;
}

.answerCountdown {
    right: 0;
}

.messageContainer {
    position: absolute;
    z-index: 100;
    top: 50px; // will be overwritten by js
    width: 100%;
    height: 8rem;
    color: white;
    background-color: red;
    font-size: 2.5rem;
    text-align: center;
}

.podium {
    width: 80%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
}

.podiumColumn {
    vertical-align: bottom;
}

.gameOver {
    text-align: center;
}

.visualizerCanvasContainer {
    @include gradient-y-three-colors(rgba(255,255,255,0), rgba(255,255,255,1), 50%, rgba(255,255,255,0));
    position: absolute;
    padding: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 90;
}

.visualizerCanvas {

}
