
body {
    font-family: Verdana, Geneva, sans-serif;
}

.musicQuizGameLogo {

}

.bagesContainer {

}

.musicQuizGameSpectrum {

}

.centered {
    display: block;
    margin: 0 auto;
}

.page {
    max-width: 1024px;
    margin: 0 auto;
}

.quizRed {
    background-color: #ff5c7f;
}

.quizBlue {
    background-color: #00c5f1;
}

.quizGreen {
    background-color: #09d191;
}

.quizYellow {
    background-color: #f7c21f;
}

